/* Tables */

table {
    width: auto;
    margin: 10px auto;
    width: 100%;
}

thead tr {
    border-bottom: 2px solid #666;

}

thead th {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #666;
}

td {
    padding: 8px 10px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}

tbody tr:last-of-type {
    border-bottom: 0px;
}

/* Sidebar */

aside.sidebar {
    width: 30%;
    float: right;
    background-color: #eee;
    padding: 10px;
}


/* Main content area */

section.content {
    width: 65%;
    float: left;
}

/* Blog post */
.blog-post {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.blog-post:last-of-type {
    border-bottom: 0px;
}

.blog-post header h2 {
    margin: 0 0 10px 0;
    line-height: 50%;
}

.blog-post header h3 {
    font-size: 110%;
    color: #999;
    margin: 0;
    font-weight: normal;
    font-style: italic;
}

.blog-post header .date {
    text-align: right;
}

/* General styles */

.tiles {
	margin: 10px 0;
}

.tile {
	margin-bottom: 20px;
	background-color: #eee;

	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;

}

.tile:hover, .tile:focus {
	background-color: #ccc;
	cursor: pointer;
}

.tile a {
	color: inherit;
	text-decoration: none;
}

.inner-tile {
	padding: 120px 20px 5px 20px;
}

.inner-tile h2 {
	margin: 0;
	padding: 0;
	font-size: 150%;
	text-align: center;
	text-transform: uppercase;
}

/* Tile backgrounds */
.new-tenant {
	background: #eee url(../img/icons/new-tenant.png) top center no-repeat;
}

.information {
	background: #eee url(../img/icons/information.png) top center no-repeat;
}

.news {
	background: #eee url(../img/icons/news.png) top center no-repeat;
}

.board {
	background: #eee url(../img/icons/board.png) top center no-repeat;
}

.janitor {
	background: #eee url(../img/icons/janitor.png) top center no-repeat;
}

.insurance {
	background: #eee url(../img/icons/insurance.png) top center no-repeat;
}

.rules {
	background: #eee url(../img/icons/rules.png) top center no-repeat;
}

.rental {
	background: #eee url(../img/icons/rental.png) top center no-repeat;
}

#outer-footer {
	margin-top: 20px;
	background-color: #ccc;
    border-top: 1px solid #eee;
}

#google-maps {
	background: transparent url(../img/content/googlemaps.jpg) center center;
	display: block;
	width: 100%;
	height: 200px;
}
